<!-- Start Footer End -->
<footer class="footer-area">
    <div class="row align-items-center">
        <div class="col col-sm col-md" >
            <p style="color: white !important;margin-left: 10px;">2024 GRUPO B - AyD2</p>
        </div>

        <div class="col col-sm col-md text-end gap">
            <a style="filter: invert(1);margin-right: 10px;" (click)="goToLink('https://github.com/WilliansAlb/HotelAyD2')"> <i class="fa-brands fa-github"></i> Repositorio</a> <span style="color: white;"></span> 
        </div>
    </div>
</footer>
<!-- End Footer End -->

<div class="chartjs-colors"> <!-- To use template colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-light"></div>
    <div class="bg-secondary"></div>
    <div class="bg-info"></div>
    <div class="bg-success"></div>
    <div class="bg-success-light"></div>
    <div class="bg-danger"></div>
    <div class="bg-warning"></div>
    <div class="bg-purple"></div>
    <div class="bg-pink"></div>
</div>