<div class="sidemenu-area">
	<div class="sidemenu-header">
		<a class="navbar-brand d-flex align-items-center">
			<img src="assets/img/HotelAyD2.png" alt="image" width="40em">
			<span class="name-brand"><span class="part1">EL BUEN</span><span class="part2">DESCANSO</span></span>
		</a>

		<div class="burger-menu d-none d-lg-block">
			<span class="top-bar"></span>
			<span class="middle-bar"></span>
			<span class="bottom-bar"></span>
		</div>

		<div class="responsive-burger-menu d-block d-lg-none">
			<span class="top-bar"></span>
			<span class="middle-bar"></span>
			<span class="bottom-bar"></span>
		</div>
	</div>
	<div class="sidemenu-body">
		<ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
			<li class="nav-item-title">
				Recepción
			</li>
			<li class="nav-item" routerLinkActive="active mm-active">
				<a href="#" class="collapsed-nav-link nav-link" aria-expanded="false">
					<span class="icon"><i class='fa-solid fa-bed'></i></span>
					<span class="menu-title">Habitaciones</span>
					<!-- <span class="badge">3</span> -->
				</a>
				<ul class="sidemenu-nav-second-level">
					<li class="nav-item" routerLinkActive="active">
						<a routerLink="/reception/rooms" class="nav-link">
							<span class="icon">
								<span class="superposition-container">
									<i class="fa-solid fa-building-circle-check"></i>
									<i style="color: gray;" class="fa-solid fa-bed superposition-element"></i>
								</span>
							</span>
							<span class="menu-title">Control de Habitaciones</span>
						</a>
					</li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/reception/rooms-types" class="nav-link">
							<span class="icon">
								<span class="superposition-container">
                  <i class="fa-solid fa-door-open"></i>
								</span>
							</span>
              <span class="menu-title">Tipos de Habitaciones</span>
            </a>
          </li>
					<li class="nav-item" routerLinkActive="active">
						<a routerLink="/reception/reservations" class="nav-link">
							<span class="icon">
								<span class="superposition-container">
									<i class="fa-solid fa-calendar-check"></i>
									<i style="color: gray;" class="fa-solid fa-bed superposition-element"></i>
								</span>
							</span>
							<span class="menu-title">Reservaciones</span>
						</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a class="nav-link">
							<span class="icon">
								<span class="superposition-container">
									<i class="fa-solid fa-cash-register"></i>
									<i style="color: gray;" class="fa-solid fa-bed superposition-element"></i>
								</span>
							</span>
							<span class="menu-title">Check-out</span>
						</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a class="nav-link">
							<span class="icon">
								<span class="superposition-container">
									<i class="fa-solid fa-receipt"></i>
									<i style="color: gray;" class="fa-solid fa-bed superposition-element"></i>
								</span>
							</span>
							<span class="menu-title">Pagos</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
