/* You can add global styles to this file, and also import other style files */
.breadcrumb-area {
	margin: 10px;
}

$primary-color: #001f54;

:root {
	--bg-danger-color: #ff6961;
	--bg-success-color: #C1E1C1;
	--main-color: #001f54;
}

.card {
	margin: 10px;
}

th {
	background-color: var(--main-color) !important;
	color: white !important;
}

.clickable {
	opacity: 0.5;
	cursor: pointer;
}

.clickable:hover {
	opacity: 1;
}

.table {
	margin: 0;
}